PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/onewinq
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=30d

# Image Upload configuration: local or cloudinary
UPLOAD_TYPE=local

# Cloudinary credentials (optional)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
